/*General query*/


/* for dekstop */

@media only screen and (min-width: 768px) {}


/* for Mobile */

@media only screen and (max-width: 768px) {}


/* -------------------------------------- */

#contatti {
    padding-top: 80px;
    margin: 0px 0;
}


/* for Mobile */

@media only screen and (max-width: 768px) {
    #contatti {
        padding-top: 40px;
    }
}

#containerForm {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding-right: 0.5%;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

.underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
}

.icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
}

.icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

.email {
    width: 100%;
}

input[type='text'],
[type='email'],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 45%;
    float: right;
}


/* ------------textArea message---------------- */

textarea {
    line-height: 150%;
    height: 80px;
    resize: none;
    width: 100%;
}


/* for mobile */

@media only screen and (max-width: 768px) {
    textarea {
        height: 60px;
    }
}

 ::-webkit-input-placeholder {
    color: #474544;
}

 :-moz-placeholder {
    color: #474544;
    opacity: 1;
}

 ::-moz-placeholder {
    color: #474544;
    opacity: 1;
}

 :-ms-input-placeholder {
    color: #474544;
}

#form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    padding: 10px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #474544;
    color: #F2F3EB;
}

@media screen and (max-width: 480px) {
    .underline {
        width: 68px;
    }
    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    .icon {
        height: 35px;
        width: 35px;
    }
    .underline {
        width: 53px;
    }
    input[type='text'],
    [type='email'],
    select,
    textarea {
        font-size: 0.875em;
    }
}