/* Remove Browser Default Styles */

* {
    font-family: "Raleway";
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Set your own styles for the page / body */

body {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    /* background-color: #BCAAA4; */
    -webkit-font-smoothing: antialiased;
    color: #222;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
    color: inherit!important;
    text-decoration: inherit!important;
}